#This could be usefull to reserve a node
#get-resources:
#  stage: .pre
#  script:
#    - echo "Getting node"
#    - srun --immediate --pty --qos c1_inter_giga --time 1:00:00 --ntasks 8 bash
#    - echo "Now running on $HOSTNAME"

#Run this before each step -- load env
before_script:
  - module load CFD/5.0-intel-19.impi-19 cmake/3.12.3 gcc/9.2
  - export CXX=/opt/tools/gcc-9.2/bin/g++
  - export CASSIOPEE=/scratchm/jcoulet/aa_install_py3/Cassiopee/
  - export ELSAPROD=spiro_mpi_py3
  - export PYTHONPATH=$CASSIOPEE/Dist/bin/$ELSAPROD/lib/python3.7/site-packages:$PYTHONPATH
  - export LD_LIBRARY_PATH=$CASSIOPEE/Dist/bin/$ELSAPROD/lib:$LD_LIBRARY_PATH
  - export PARADIGM_HOME=/scratchm/jcoulet/aa_install_py3/paradigma-dbg
  - export PYTHONPATH=$PARADIGM_HOME/lib/python3.7/site-packages:$PYTHONPATH
  - export LD_LIBRARY_PATH=$PARADIGM_HOME/lib:$LD_LIBRARY_PATH

stages:
  - build
  - test
#  - report
#  - clean

job:build:
  variables:
    GIT_SUBMODULE_STRATEGY: normal
  stage: build
  script:
    - mkdir build && cd build
    - cmake -DCMAKE_BUILD_TYPE=Debug -DMAIA_ENABLE_MPI_TESTS=ON -Dmaia_ENABLE_COVERAGE=ON -DPYBIND11_INSTALL=ON -DMAIA_USE_PDM_INSTALL=ON -Dpdm_DIR=$PARADIGM_HOME/lib/cmake ../
    - make -j8
  cache:
    paths:
      - build # répertoire mis en cache
    policy: push # le cache sera juste sauvegardé, pas de récupération d'un cache existant

#todo : display reports on browser eg with gitlab pages
job:test:
  variables:
    GIT_SUBMODULE_STRATEGY: none
  stage: test
  script:
    - cd build
    - make test
    - cd test
    - coverage combine --rcfile=.coveragerc_unit_tests
    - coverage report --rcfile=.coveragerc_unit_tests
    - coverage xml --rcfile=.coveragerc_unit_tests -o coverage_unit_tests.xml
    - sed 's@'"$CI_PROJECT_DIR"'/@@' -i coverage_unit_tests.xml
  when: on_success # s'exécutera uniquement si le job `job:build` passe
  cache:
    paths:
      - build
    policy: pull # récupération du cache
  artifacts:
    paths:
      - ./build/test/reports/*
    when: always
    # Next allows to display a test tab in the pipeline with report but requires a feature flag to be enabled,
    # see https://docs.gitlab.com/ee/ci/unit_test_reports.html#viewing-unit-test-reports-on-gitlab
    # Use it in combination with --junitxml=reports/pytest-junit.xml in the pytest launcher (TestCreate.cmake)
    reports:
      junit: ./build/test/reports/*_test.xml
      cobertura: ./build/test/coverage_unit_tests.xml

#job:report:
#  stage: report
#  script:
#    - cd build
#    - make report
#  when: on_failure # s'exécutera si le job `job:build` ou `job:test` ne passe pas

#job:clean:
#  stage: clean
#  script:
#    - cd build
#    - make clean # s'exécutera quoi qu'il se passe
#  when: always

